@keyframes banner{
    25%{
        background-image: url('../img/banner/açougue/bn_açougue.jpg');
    }
    50%{
        background-image: url('../img/banner/mercearia/bn_mercearia.png');
    }
    75%{
        background-image: url('../img/banner/bebidas/bn_sucos.png');
    }
    100%{
        background-image: url('../img/banner/principal/ec_capa.png');
    }

}

@keyframes hortifruti{
    25%{
        background-image: url('../img/banner/hortifruti/bn_compras.jpg');
    }
    50%{
        background-image: url('../img/banner/hortifruti/bn_frutas.jpg');
    }
    75%{
        background-image: url('../img/banner/hortifruti/bn_verduras.jpg');
    }
    100%{
        background-image: url('../img/banner/hortifruti/bn_maçã.jpg');
    }
}

@keyframes mercearia{
    25%{
        background-image: url('../img/banner/mercearia/bn_arroz.jpg');
    }
    50%{
        background-image: url('../img/banner/mercearia/bn_mercearia.jpg');
    }
    75%{
        background-image: url('../img/banner/mercearia/bn_compras.jpg');
    }
    100%{
        background-image: url('../img/banner/mercearia/bn-oleo.jpg');
    }
}

@keyframes bebidas{
    25%{
        background-image: url('../img/bebidas/pratileira_alcool.png');
    }
    50%{
        background-image: url('../img/bebidas/pratileira_refri.png');
    }
    75%{
        background-image: url('../img/bebidas/dn_cerveja.png');
    }
    100%{
        background-image: url('../img/bebidas/suco.jpg');
    }
}

@keyframes açougue{
    25%{
        background-image: url('../img/banner/açougue/bn_almondegas.jpg');
    }
    50%{
        background-image: url('../img/banner/açougue/bn_frango.jpg');
    }
    75%{
        background-image: url('../img/banner/açougue/bn_açougue.jpg');
    }
    100%{
        background-image: url('../img/banner/açougue/bn_linguiça.jpg');
    }
}

@keyframes panificadora{
    25%{
        background-image: url('../img/banner/padaria/bn_pães.png');
    }
    50%{
        background-image: url('../img/banner/padaria/bn_bolos.png');
    }
    75%{
        background-image: url('../img/banner/padaria/bn_padaria.jpg');
    }
    100%{
        background-image: url('../img/banner/padaria/bn_panificadora.png');
    }

}