@keyframes banner{
    25%{
        background-image: url('../img/banner/açougue/bn_açougue.jpg');
    }
    50%{
        background-image: url('../img/banner/mercearia/bn_mercearia.png');
    }
    75%{
        background-image: url('../img/banner/bebidas/bn_sucos.png');
    }
    100%{
        background-image: url('../img/banner/principal/ec_capa.png');
    }

}

@keyframes hortifruti{
    25%{
        background-image: url('../img/banner/hortifruti/bn_compras.jpg');
    }
    50%{
        background-image: url('../img/banner/hortifruti/bn_frutas.jpg');
    }
    75%{
        background-image: url('../img/banner/hortifruti/bn_verduras.jpg');
    }
    100%{
        background-image: url('../img/banner/hortifruti/bn_maçã.jpg');
    }
}

@keyframes mercearia{
    25%{
        background-image: url('../img/banner/mercearia/bn_pereciveis.jpg');
    }
    50%{
        background-image: url('../img/banner/mercearia/bn_enlatados.jpg');
    }
    75%{
        background-image: url('../img/banner/mercearia/bn_compras.jpg');
    }
    100%{
        background-image: url('../img/banner/mercearia/bn_variedades.png');
    }
}

@keyframes bebidas{
    25%{
        background-image: url('../img/banner/bebidas/bn_refrigerante.png');
    }
    50%{
        background-image: url('../img/banner/bebidas/bn_cerveja.png');
    }
    75%{
        background-image: url('../img/banner/bebidas/bn_sucos.png');
    }
    100%{
        background-image: url('../img/banner/bebidas/bn_sucos.png');
    }
}

@keyframes açougue{
    25%{
        background-image: url('../img/banner/açougue/bn_frango.png');
    }
    50%{
        background-image: url('../img/banner/açougue/bn_açougue.png');
    }
    75%{
        background-image: url('../img/banner/açougue/bn_linguica.png');
    }
    100%{
        background-image: url('../img/banner/açougue/bn_açougue-2.png');
    }
}

@keyframes panificadora{
    25%{
        background-image: url('../img/banner/padaria/bn_pães.png');
    }
    50%{
        background-image: url('../img/banner/padaria/bn_bolos.png');
    }
    75%{
        background-image: url('../img/banner/padaria/bn_padaria.jpg');
    }
    100%{
        background-image: url('../img/banner/padaria/bn_panificadora.png');
    }

}