@keyframes banner{
    25%{
        background-image: url('../img/banner/principal/ec_frutas.png');
    }
    50%{
        background-image: url('../img/banner/principal/ec_açougue.png');
    }
    75%{
        background-image: url('../img/banner/principal/ec_mercearia.png');
    }
    100%{
        background-image: url('../img/banner/principal/ec_capa.png');
    }

}

@keyframes hortifruti{
    25%{
        background-image: url('../img/banner/hortifruti/bn_frutas.jpg');
    }
    50%{
        background-image: url('../img/banner/hortifruti/bn_frutas1.jpg');
    }
    75%{
        background-image: url('../img/banner/hortifruti/bn_verduras3.jpg');
    }
    100%{
        background-image: url('../img/banner/hortifruti/bn_verduras2.jpg');
    }
}

@keyframes mercearia{
    25%{
        background-image: url('../img/banner/mercearia/bn_arroz.jpg');
    }
    50%{
        background-image: url('../img/banner/mercearia/bn_mercearia.jpg');
    }
    75%{
        background-image: url('../img/banner/mercearia/bn_compras.jpg');
    }
    100%{
        background-image: url('../img/banner/mercearia/bn-oleo.jpg');
    }
}

@keyframes bebidas{
    25%{
        background-image: url('../img/bebidas/pratileira_alcool.png');
    }
    50%{
        background-image: url('../img/bebidas/pratileira_refri.png');
    }
    75%{
        background-image: url('../img/bebidas/dn_cerveja.png');
    }
    100%{
        background-image: url('../img/bebidas/suco.jpg');
    }
}

@keyframes açougue{
    25%{
        background-image: url('../img/dn_açougue.png');
    }
    50%{
        background-image: url('../img/img_mercado/almondegas.jpg');
    }
    75%{
        background-image: url('../img/img_mercado/frango.jpg');
    }
    100%{
        background-image: url('../img/img_mercado/linguiça.jpg');
    }
}
